# URL for the Ethereum provider (Alchemy in this case)
ALCHEMY_URL=http://127.0.0.1:8545

# Chain ID for the network (31337 is the default for Hardhat local node)
CHAIN_ID=31337

# Private key for the Ethereum wallet (use a test wallet for development)
PRIVATE_KEY=<your_private_key>

# Contract address for the deployed NFT smart contract
CONTRACT_ADDRESS=<deployed_contract_address>
